# Copyright (c) 2025 Team PHDesign
# SPDX-License-Identifier: MIT

if BOARD_PH_LITE

if USB_DEVICE_STACK

config USB_NRFX
    default y

config USB_DEVICE_VID
    default 0x5048

config USB_DEVICE_PID
    default 0xFF00

config USB_DEVICE_MANUFACTURER
    default "Team PHDesign"

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_PH_LITE
